:root {
    --primary-grey: #ececec;
    --secundary-grey: #c5c5c5;
}

* {
    margin: 0;
}



.back {
    background-color: #000000;
}


.header-container {
    padding: 0;
    background-color: #ffffff;
    height: 100%;
}

.sub-container {
    padding: 5px 0px 9px 0px;
}

.sub-container, li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.navigation_open {
    font-size: 1em;
    font-weight: 500;
}

.navigation_open ul {
    padding: 0;
    margin: 0;
    height: 100%;
}

.navigation a {
    text-decoration: none;
    color: #000000;
}

.div.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu_X {
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.menu_X:hover {
    background-color: var(--secundary-grey);
}

.menu_X img {
    padding: 5px;
}


.menu_svg {
    cursor: pointer;
    width: 40px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_svg:hover {
    background-color: var(--secundary-grey);
}

.menu_svg img{
    width: 1em;
    height: 1.1em;
    margin: 0px 10px 0px 10px;
}


.search-main {
    padding: 3px;
    margin-right: 2px;
    background-color: transparent;
    border: solid 1px #c9c9c9;
    width: 100%;
    height: 34px;
    border-radius: 24px 0px 0px 24px;
    padding-left: 22px;
    background-position: 5px center ; 
    background-repeat: no-repeat;
    background-size: 20px;
    outline: none;
}


.search-main::-webkit-search-cancel-button {
    background-image: url('../img/x-lg.svg');
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
}

.submit-main {
    position: relative;
    left: -5px;
    border-radius: 0px 24px 24px 0px;
    width: 75px;
    height: 34px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    background: #c9c9c9 url('../img/search.svg') no-repeat center;
}

.micro_back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-grey);
    border-radius: 50%;
    cursor: pointer;
}

.micro_back:hover {
    background-color: var(--secundary-grey);
}

.flags {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}

.flags img {
    cursor: pointer;
}

.flag_open {
    position: fixed;
    top: -80px;
    opacity: 0%;
    transition: .3s;
}

.flag_open.showFlag {
    opacity: 100%;
    top: 40px;
}

.utilizador_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.utilizador_icon img{
    padding: 1px;
    margin-left: 10px;
    background-color: rgba(114, 116, 116, 0);
    border-radius: 50%;
    cursor: pointer;
}

 .open {
    position: fixed;
    left: -500px;
    background-color: var(--primary-grey);
    width: 250px;
    height: 100%;
    transition: .3s;
}

.open.active {
    left: 0;
}

.lateral {
    height: 100%;
    margin: 0;
    padding: 0;
}

.item-menu {
    margin: 10px;
    width: 24vh;
    padding: 10px 0px 10px 30px;
}

.item-menu:hover {
    border-radius: 16px;
    background-color: #c5c5c5;
}

.item-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.txt_link {
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: 500;
    color: #000000;
}

.section-container {
    padding: 1.1em 0em 1.1em 0em;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.videos {
    display: flex;
    color: #fff;
    height: 100px;
}

#imageForm {
    display: flex;
}

#gallery img{
    width: 200px;
    height: 100%;
}
